$text_color: #fff;

@mixin margin {
    margin: 0 10px;
}

@mixin display_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.view-row {
    @include display_flex_center;

    * {
        @include margin;
    }

    a {
        margin: 0 10px;
        text-decoration: none;
    }

    .contacts-links {
        display: flex;
        margin-left: 20px;
        font-size: 1.6em;
    }
}

.view-column {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #5f6366;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 19;

    * {
        font-size: 1.4em;
    }

    .contacts-links {
        display: flex;
        gap: 35px;
        margin-top: 70px;
    }
}
