.single-article {
    margin: 40px auto 0;
    max-width: 95%;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 4px;

    .article-title {
        padding: 35px 100px 20px 100px;

        .thumbnail-icon {
            margin: 10px 0 25px;

            img {
                max-width: 120px;
                max-height: 120px;
            }
        }

        h1 {
            margin-bottom: 15px;
            margin-left: 15px;
        }
    }

    .article-content {
        max-width: 95%;

        * {
            margin: 0 auto;
        }
    }
}

/*1280px ----->*/
@media (min-width: 1280px) {
    .single-article {
        .article-content {
            padding: 35px 100px 20px 100px !important;
        }
    }
}

/*900px <-----> 1279px*/
@media (min-width: 900px) and (max-width: 1279px) {
    .single-article {
        .article-content {
            padding: 35px 80px 20px 80px !important;
        }
    }
}

/*-----> 899px*/
@media (max-width: 899px) {
    .article-content {
        padding: 35px 60px 20px 60px !important;
    }
}
