@import 'src/global-styles/_variables.scss';

.social-wrapper {
  padding: 20px 0;

  .social-title {
    text-align: center;
  }

  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5%;
    font-size: 400%;

    @media (max-width: $breakpoint768) {
      font-size: 300%;
    }

    #linkedin {
      color: #0a66c2;
    }

    #telegram {
      color: #0088cc;
    }

    #whatsapp {
      color: #79c736;
    }
  }
}
