@keyframes ldio-rzhmdbdydd {
  0% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
