$background_color: #5f6366;
$text_color: #fff;

@mixin margin {
  margin: 0 15px;
}

header {
  width: 100%;
  font-size: 20px;
  background-color: $background_color;
  padding: 17px 0;

  .nav-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    * {
      color: $text_color;
    }

    .login-buttons,
    .logout-buttons {
      display: flex;
      align-items: center;
      margin-right: auto;
      cursor: pointer;
      font-size: 1.4em;
      z-index: 20;

      button {
        border: none;
        background-color: $background_color;
      }
    }
  }
}

// 1280px ----->
@media (min-width: 1280px) {
  .nav-wrapper {
    max-width: 65% !important;
  }
  .authenticate-icon-login,
  .authenticate-icon-logout,
  .nav-burger {
    display: none !important;
  }
}

// 1000px <-----> 1279px
@media (min-width: 1000px) and (max-width: 1279px) {
  .nav-wrapper {
    max-width: 75% !important;
  }
  .authenticate-icon-login,
  .authenticate-icon-logout,
  .nav-burger {
    display: none !important;
  }
}

// 900px <-----> 999px
@media (min-width: 900px) and (max-width: 999px) {
  .nav-wrapper {
    max-width: 85% !important;
  }
  .authenticate-icon-login,
  .authenticate-icon-logout,
  .nav-burger {
    display: none !important;
  }
}

// -----> 899px
@media (max-width: 899px) {
  .nav-wrapper {
    max-width: 85% !important;
  }
  .authenticate-button-login,
  .authenticate-button-logout {
    display: none !important;
  }
  .view-row {
    display: none !important;
  }
}
