.app-left {
    width: 32%;
    background-color: #5097D5;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

/*Person*/
.person-wrapper {
    height: 30%;
    color: white;
    margin: 0 25px 1.5%;

}

.person-title #hello {
    font-size: 5em;
    margin: 20px 0;
}

.person-title #name {
    font-size: 3em;
    margin: 20px 0;
}

.person-position p {
    font-size: 2em;
    margin: 30px 0 10px 0;
}

.person-position span {
    text-decoration: underline;
}

.person-blog p {
    font-size: 1.5em;
    margin: 40px 0 10px 0;
}

/*Summary*/
.summary-wrapper {
    height: 50%;
    color: white;
    margin: 1.5% 25px;
}

.summary-title {
    font-size: 1em;
}

.summary-list {
    margin: 40px 0;
}

.summary-list li {
    margin: 20px 0;
}

.contacts-wrapper {
    height: 16%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1.5% 25px 0;
}

.contacts-title {
    font-size: 1em;
}

.contacts-title{
    font-size: 1em;
}

.contacts-user-info {
    display: flex;
    justify-content: space-between;

}

.phone-info {
    display: flex;
    justify-content: space-between;
}

.email-info {
    display: flex;
    justify-content: space-between;
}

#phone, #email {
    font-weight: bold;
}
#gitHub{
    background-color: darkcyan;
}

#linkedIn{
    background-color: darkorange;
}

#telegram{
    background-color: aqua;
}


.contacts-links {
    display: inline-flex;
    justify-content: space-between;

}