@import '../../../../global-styles/variables';

.editor-operations {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: $backgroundColor;

    * {
        margin: 1px 1px;
    }
}

#rich-editor {
    @include editor;
}
