header{
    font-size: 20px;
    background-color: #5f6366;
    padding: 17px 0;
}

.about-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a{
    margin: 0 15px;
    color: #FFF;
    text-decoration: none;
}

.about-nav > a:nth-child(1){
    margin-right:auto;
}

.contacts-links {
    margin-left:20px;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 1.6em;
}

svg{
    margin: 0 15px;
}