.about {
    display: flex;
    justify-content: center;
}

.about-photo {
    width: 250px;
   
}

.about-info {

}

.about-photo img {
    border-radius: 50%;
    border: 10px solid pink;
    max-width: 100%;
}