.skills-section {
    background-color: #4d6d9a;
    margin: 0 auto;
}

.skills-title {
    text-align: center;
    margin: 0 auto;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills div{
    max-width:33%;
}