.skills {
    padding: 30px 30px;
}

.skills-title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.skills-title h1 {
    margin: 0 auto;
}

.card{
    height: 280px;
    max-height: 300px;
}

.card-body {
    display: flex;
    align-items: center;
}

.react-icons {
    margin: 0 auto;
    margin-bottom: .5rem;
    height: 4em;
    width: 4em;
}
