.title-section{
    background-color: #4d6d9a;
    margin: 0 auto;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title-main{
    padding:0 10px;
}

.additional-title p{
    text-align: center;
}