@import 'src/global-styles/_variables.scss';

.skills {
  width: 100%;
  padding: 2em 7em 4em 7em;

  @media (max-width: $breakpoint992) {
    padding: 2em 3em 4em 3em;
  }
}

.skills-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 70px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $breakpoint768) {
    display: flex;
    flex-direction: column;
  }

  .skills-item {
    .text-center {
      margin-bottom: 4px;
    }
  }
}
