article {
  border-radius: 4px;
  margin: 30px 80px;
  background-color: #fafafa;
  box-shadow: #f4f4f4 0px 2px 4px 0px, #f3f3f3 0px 2px 16px 0px;
}

.articles-wrapper {
  h1 {
    margin: 10px 10px;
  }
}

.new-article-btn {
  margin: 20px 80px;
}

.article-view {
  display: flex;
  align-items: stretch;

  #content {
    width: 100%;
    height: 100%;
  }

  .title {
    padding: 25px 50px 0;
  }

  p.title {
    font-weight: bold;
  }

  .entry-content {
    padding: 15px 50px 25px;
  }

  .buttons {
    padding: 0px 50px 25px;
  }

  .buttons button {
    margin-right: 10px;
  }

  #thumbnail {
    height: inherit;
    margin: 0;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    img {
      max-width: 120px;
      max-height: 120px;
    }
  }
}


//// ThumbnailPreview

.preview {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:30px;

  p{
    margin:0;
  }

  input[type="file"]{
    max-width: 280px;
  }

  .color-picker {

    display: inline-flex;
    align-items: center;
    width:150px;
    max-width: 150px;
    padding: 4px 12px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;

    input[type="color"] {
      border: none;
      background: none;
      height: 14px;
      width: 14px;
      padding: 0;
    }

    input[type="text"] {
      border: none;
      width: 100%;
    }

    input[type="text"]:focus{
      outline: none;
    }
  }

  .thumbnail-preview {
    //background-color: red;
    margin: 0;
    height: 60px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    img {
      max-width: 40px;
      max-height: 40px;
    }
  }
}


