.social-section {
    padding: 20px 0;

    .social-title {
        text-align: center;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        a {
            font-size: 4em;
        }

        #linkedin {
            color: #0a66c2;
        }

        #telegram {
            color: #0088cc;
        }
    }
}

.contact-section {
    padding: 40px 0;

    .contact-title {
        text-align: center;
    }

    .contact-wrapper {
        display: grid;
        grid-template-areas:
            'nameInput textInput'
            'emailInput textInput'
            '. submitButton';
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1vw;
        padding: 30px 0;
    }

    #nameInput {
        grid-area: nameInput;
    }

    #emailInput {
        grid-area: emailInput;
    }

    #textInput {
        grid-area: textInput;
    }

    #submitButton {
        width: 50%;
        grid-area: submitButton;
        justify-self: end;
    }
}
