.preview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    p {
        margin: 0;
    }

    input[type='file'] {
        max-width: 280px;
    }

    .color-picker {
        display: inline-flex;
        align-items: center;
        width: 150px;
        max-width: 150px;
        padding: 4px 12px;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 4px;

        input[type='color'] {
            border: none;
            background: none;
            height: 14px;
            width: 14px;
            padding: 0;
        }

        input[type='text'] {
            border: none;
            width: 100%;
        }

        input[type='text']:focus {
            outline: none;
        }
    }

    .thumbnail-preview {
        margin: 0;
        height: 60px;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        img {
            max-width: 40px;
            max-height: 40px;
        }
    }
}
